/output
.last_conf
/dl
compile_commands.json*
.cache
/test
/linux
/buildroot-overlay/board/canaan/k230-soc/rootfs_overlay/etc/version/release_version
buildroot-overlay/package/ai_demo/kmodel
buildroot-overlay/package/ai_demo/k230_bin
buildroot-overlay/package/ai_demo/out
buildroot-overlay/package/face_detect/k230_bin
buildroot-overlay/package/yolo/k230_bin
buildroot-overlay/package/cloudplat_deploy_code_linux/k230_bin
buildroot-overlay/package/ai_demo/tinytag_detect/utils/*.kmodel
!buildroot-overlay/package/ai_demo/tinytag_detect/utils/tinytag-v40c-unfrozen-moderate30ep.int8.kmodel
GPATH
GRTAGS
GTAGS
gtags.files
df/
.vscode/settings.json
__pycache__/
